// Define variables for your color scheme

// SET FOR KOOBO
$blue: #201E50;
$coral: #EE8572;
$blue-light: #4A4972;
$blue-lighter :#A5A5B8;
$coral-light: #F6B6AB;
$white: #F6F7FA;
// For example:
$red: #e74c3c;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #57D073;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $box-shadow : box-shadow: 0 1px 2px rgba(0,0,0,0.2);
