// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Quicksand:400,700|Righteous&display=swap");

// Define fonts for body and headers
$body-font: "Quicksand", "sans-serif", "serif";
$headers-font: "Poppins", "sans-serif", "serif";
$logo-font: "Righteous","sans-serif", "serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
