<h1>Hello <%= @user.first_name %> !</h1>
<p>Nous sommes très heureux de te voir rejoindre la famille koobo !</p>
<p>C'est un moment pour te partager notre ambition et nos envies !</p>
<p>Toute l'équipe koobo, te souhaite encore une fois, la bienvenue !</p>

