/*------------------------------------*\
  #GRID-DISPOSITION USED DASHBOARD-VIEW
\*------------------------------------*/

.grid-dashboard {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "one two"
  "one two"
  "one two"
  "three four"
  "three four"
  "three four";
  .dash-flat{
    grid-area: one;
    height:315px;
    position:relative;
    text-align: start ;
  }
  .dash-notif{
    grid-area: two;
    height:315px;
  }
  .dash-flux{
    grid-area: three;
    height:315px;
  }
  .dash-schedule{
    grid-area: four;
    height:315px;
  }
}




/*------------------------------------*\
  #GRID DASH FLAT (OVERWRITTING BOOTSTRAP)
\*------------------------------------*/

#nav-rented, #nav-free, #nav-home-tab, #nav-profile-tab, #nav-contact-tab, #nav-pending-tab, #nav-accepted-tab, #nav-denied-tab {
  color: $blue;
  padding: 5px 10px;
  width: 105px;
  margin-bottom: 10px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: white;
  border-color: white;
  &.active {
    width: 105px;
    border-bottom: 2px solid $blue;
  }
  &:hover {
    width: 105px;
    border-bottom: 2px solid rgba($blue,0.7);
  }
}

#tab-pane {
  overflow-y: scroll;
}





/*------------------------------------*\
  #GRID DASH NOTIF
\*------------------------------------*/

div#notifications {
  max-height: 221px;
  overflow-y: scroll;
}




/*------------------------------------*\
  #GRID DASH FLUX
\*------------------------------------*/





/*------------------------------------*\
  #GRID DASH SCHEDULE
\*------------------------------------*/

