.container-document {
  width: 92%;
}

.card-documents {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius:10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 25px;
  // height: 30vh;
}


.card-trip.card-trip-doc{
  width: 450px;
  max-width: 341px;
  box-shadow: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  & img {
    box-shadow: none;
    height: 250px;
  }
}

.index-doc-right h5 {
    color: $blue;
    margin: 5% 10%;
    text-align: center;
  }

.buttons-document {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 10%;
}

// .buttons-doc-left {
//   margin-left: 60px;
//}

.button-doc {
  width: 180px;
  background-color: white;
  border: 1px solid $blue;
  border-radius: 4px;
  color: $blue;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: light;
  margin-top: 15px;
  &:hover {
    opacity: 0.9;
    background-color: $blue;
    color: $coral-light;
    font-weight: bold;
  }
}
