.container-label {
  display:flex;
  align-items:center;
  margin: 1% 0px;
}

.edit-pub-btn {
  padding: 15px 30px;
  background-color: #EE8572;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  color: white;
}
.button-edit  {
  padding: 15px 30px;
  background-color: $coral;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  color: white;
}

#my-carousel {
  margin-bottom: 30px;
  width: 720px;
}

.my-container {
  // JUSTE USED IT, TELL ME IF IT'S FUCKED UP SOMETHING ON YOUR CODE
  // width: 1000px;
  margin: 0 0 30px auto;
}



.my-form-buttons {
  display: flex;
  justify-content: space-around;
  align-items:center;
  a {
    text-decoration:none;
    margin-top: 10px;
    &:hover{
      color:black;
    }
  }
}

#edit-pub-btn-validate {
  margin-right: 250px;
}

.step-form {
  margin: 2% 9% 0px 9%;
}

// .advance-barre {
//   margin: 5% 10%;
//   text-align:center;
// }
.text-second-step {
  color:$blue;
  font-size: 30px;
  margin-top:2%;
  margin-bottom:2%;
}

.button-second-step-form {
  display:flex;
  justify-content:space-around;
  align-items:center;
  a {
    text-decoration:none;
    color:gray;
    margin-top: 10px;
    &:hover{
      color:black;
    }
  }
}


// .schedules-container-show-edit {
//   overflow: scroll;
//   height:100%;
//   max-height:500px;
//   width: 100%;
//   margin-bottom:2%
// }

#div-second-step {
  height:40%;
}

.form-image-site {
  display: block !important;
  height: 200px !important;
  width:20%;
  border: 1px solid white;
}

.center-form-update {
  margin:20px auto !important;
}


.schedules-already-selected {
  background-color: $blue;
  opacity: 0.4;
  &:hover{
  background-color: $blue;
  opacity: 0.4;
  }
}

.blue-v-already {
  background-color:$blue;
  opacity:0.4;
}
.selected-show {
  &:hover{
    background-color: $blue;
    opacity:0.8;
  }
}
