#edit-pub-btn {
  padding: 15px 30px;
  background-color: #EE8572;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  margin-left: 65px;
  color: white;
}

.container-new-form {
  padding-left: 80px;
}

.special-form {
  display: flex;
  margin-bottom: 8px;
}

#lien-visite {
  margin-left: 300px;
  & :hover {
  color: #EE8572;
  }
}

#my-carousel {
  margin-bottom: 30px;
}

.my-container {
  margin-left: 30px;
}

#titre-recap {
  margin-left: 200px;
  margin-bottom: 20px;
}
