#disposition-card-one {
  width:100%;
  height:85vh;
  display: grid;
  grid-template-columns: minmax(60%, 60%) minmax(35%, 35%);
  grid-template-rows: repeat(4, minmax(25vh, 200px));
  grid-gap: 20px;
  grid-template-areas:
        "one two"
        "three two"
        "three four";
}

#disposition-one-left-top {
  justify-self: stretch;
  grid-area: one;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
}

#disposition-one-left-bottom {
  justify-self: stretch;
  grid-area: three;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
}

// DOCUMENTS

#disposition-one-right-top {
  display:flex;
  flex-flow: column;
  justify-content:space-around;
  align-items:center;
  grid-area: two;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
  text-align:center;
  #documents-list {
    flex-grow:2;
    height:82%;
    width:100%;
    display:flex;
    flex-flow: column;
    justify-content:space-around;
    align-items:center;
  }
}

// MESSAGE BOARD

#disposition-one-right-bottom {
  justify-self: stretch;
  grid-area: four;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
}

#message-board {
  width: 100%;
  height: 100%;
  text-align:center;
}

#feed-message-board {
  width: 100%;
  height: 70%;
  background-color: $coral-light;
}

#create-message-board {
  width: 100%;
  height: 30%;
  background-color: $blue-light;
  color:white;
  font-weight: bold;
}


// RESPONSIVNESS

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  body {
    // background-color: red;
  }
  #disposition-card-one {
    grid-template-areas:
            "one one"
            "three two"
            "three four";
    }
    .card-locataire {
    grid-template-areas:
            "one one one"
            "two two two "
            "three three three";
    .avatar-extra-large {
      grid-area: one;
    }
    h4 {
      grid-area: two;
    }
    .card-name-locataire {
      grid-area: two;
    }
    .card-icon-uptodate-payments {
      grid-area: three;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  body {
    // background-color: orange;
  }

  #disposition-card-one {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-areas:
          "one one"
          "three three"
          "three three"
          "four two";
  }
  #documents-list {
    flex-flow: row wrap!important;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  body {
    // background-color: yellow;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  body {
    // background-color: gray;
  }

}
