#see-flat-button:hover {
  color: #EE8572;
}

.card-trip.card-trip-index {
  width: 450px;
  max-width: 341px;
}

.card-category {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-flat {
  color: grey;
  font-size: 70px;

}

