#see-flat-button:hover {
  color: #EE8572;
}

.card-category {

  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-card-trip {
  font-weight:bold;
  color:$blue;
}

.card-trip-empty {
  min-height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #index-cards {
    grid-template-columns: 1fr;
  }
    .index-appart{
    padding-bottom: 100px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #index-cards {
    grid-template-columns: 1fr;
  }
  .index-appart{
    padding-bottom: 100px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #index-cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #index-cards {
    grid-template-columns: 1fr 1fr;
  }
    .index-appart{
    padding-bottom: 0px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #index-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
