/*------------------------------------*\
  #DISPOSITION SHOW ONGOING
\*------------------------------------*/

#disposition-card-three {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  position:relative;
  grid-gap: 20px;
  padding: 20px;
  grid-template-areas:
        "one two"
        "one two"
        "one two"
        "three two";
  #disposition-three-left-top {
    grid-area:one;
  }
  #disposition-three-right {
    grid-area:two;
  }
  #disposition-three-left-bottom {
    grid-area:three;
  }
}

/*------------------------------------*\
  # DISPOSITION STEP BY STEP
\*------------------------------------*/

#disposition-three-left-top {

  border-radius: $border-radius;
  > .card-positioning h5, p {
    text-align:center;
  }
  > .card-positioning p {
    margin-bottom: 6px;
  }
}

#disposition-three-left-bottom {

  grid-area: three;
  border-radius: $border-radius;
}


#disposition-three-right {
  grid-area: two;
  text-align:center;
  border-radius: $border-radius;
}

#container-card-tenant-ongoing-flat {
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-grow:1;
}

/*------------------------------------*\
  # RESPONSIVENESS
\*------------------------------------*/

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  body {
    // background-color: red;
  }

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  body {
    background-color: orange;
  }


}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  body {
    background-color: yellow;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  body {
    background-color: gray;
  }
}
