.flat-informations {
  width: 60%;
  margin: 10px 30px 0px 30px;
  & h2 {
    font-size: 24px;
  }
  & h4 {
    font-size:16px;
    padding-bottom:15px;
    border-bottom: 1px solid $blue-lighter;
  }
}

.flat-informations-left, .flat-informations-right {
  margin: 10px 30px 0px 0px;
}

#flat-name-show {
  position:absolute;
  top: 4%;
  left: 3%;
}

#title-description {
  flex-grow:1;
  margin: 20px 20px;
  align-items:flex-start;
  & h4 {
    font-size: 20px;
    padding: 10px 0px 26px 0px;
    border-bottom: 1px solid $blue-lighter;
  }
}

.calendar-placeholder {
  margin-top:15px;
  margin-bottom: 15px;
}

#blue-visite {
  width:30px;
  height:20px;
  background-color: $blue-light;
  border-radius:5px;
}

#coral-visite {
  width:110px;
  height:23px;
  font-weight: bold;
  background-color: $coral-light;
  border-radius:5px;
  margin:0.1px auto;
}

.list-button-card {
  margin:30px auto;
}

.container-disposition {
  margin: 0 3%;
}




// OVERWRITE BOOTSTRAP FOR LAYOUTS PENDING / ACCEPTED / DENIED

.fade:not(.show) {
  display:none;
}

#nav-tabContent {
  overflow: auto;
}

.nav-tabs {
border-bottom: 0;
}

#nav-pending-tab, #nav-accepted-tab, #nav-denied-tab {
  color: $blue;
  padding: 5px 10px;
  width: 105px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: white;
  border-color: white;
  &.active {
    width: 105px;
    padding:0px;
    border-bottom: 2px solid $blue;
  }
  &:hover {
    width: 105px;
    padding:0px;
    border-bottom: 2px solid rgba($blue,0.7);
  }
}
