#disposition-card-two {
  width:100%;
  height:85vh;
  display: grid;
  grid-template-columns: minmax(60%, 60%) minmax(35%, 35%);
  grid-template-rows: repeat(3, minmax(25vh, 200px));
  grid-gap: 30px;
  grid-template-areas:
        "one two"
        "three two"
        "three two";
}

#disposition-two-left-top {
  grid-area: one;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
}

#disposition-two-left-bottom {
  grid-area: three;
  border: 1px solid black;
  border-radius: 15px;
}

// DOCUMENTS

#disposition-two-right {
  grid-area: two;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 15px;
}

// MESSAGE BOARD

#disposition-two-right-bottom {
  justify-self: stretch;
  grid-area: four;
}

// RESPONSIVNESS

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  body {
    background-color: red;
  }
  // #disposition-card-two {
  //   grid-template-areas:
  //           "one one"
  //           "three two"
  //           "three four";
  //   }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  body {
    background-color: orange;
  }

  // #disposition-card-two {
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: 1fr 1fr 3fr 1fr;
  //   grid-template-areas:
  //         "one one"
  //         "three three"
  //         "three three"
  //         "four two";
  // }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  body {
    background-color: yellow;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  body {
    background-color: gray;
  }

}
