/*------------------------------------*\
  #FLOWS INDEX DISPOSITION
\*------------------------------------*/

.flows {
  display: grid;
  grid-gap: 20px;
  padding: 15px 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
        "one one one two"
        "three three four four"
        "three three four four"
  ;
  .info-flow {
    grid-area: one;
  }
  .add-flow {
    grid-area: two;
  }
  .all-flows {
    grid-area: three;
  }
  .flats-flows {
    grid-area: four;
  }
}

.flows {
  p {
    font-size: 0.9rem;
  }
  h3 {
    font-size: 1.65rem;
  }
  h5 {
    font-size: 1.2rem;
  }
}




/*------------------------------------*\
  #SPECIFIC ELEMNT DISPOSITION
\*------------------------------------*/
.info-flow {

}

    .renting-part {
      display: flex;
      align-items: center;
    }

        .rents-details {
          flex-grow:1;
          margin: 5px;
          overflow:auto;
          max-height:90%;
        }

        .rents-stats {
          width: 30%;
          display:flex;
          justify-content:flex-end;
          align-items:center;
          h3 {
            font-weight: bold;
          }
        }

            .circle-progression {
              border: 25px solid $coral;
              padding: 25px 0;
              border-radius: 50%;
              margin: 5px;
              width:70%;
            }


/*------------------------------------*\
  #SPECIFIC ELEMNT DISPOSITION
\*------------------------------------*/

.add-flow {

}



/*------------------------------------*\
  #SPECIFIC ELEMNT DISPOSITION
\*------------------------------------*/

.all-flows {

}
    .all-flows--header {
      width:100%;
      height:20%;
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      h5 {
        margin:0;
        height:31px;
      }

      // border-bottom: 1px solid rgba($gray, 0.1);
    }
        .all-flows--header {
          .total {
            font-weight:bold;
          }
          :not(.total) {
            font-weight:lighter;
          }
        }

        .all-flows--body {
          width:100%;
          height:80%;
          position:relative;
        }

              .details-flows--header {
                text-align:start;
                color: rgba($gray, 0.3);
                display:grid;
                grid-gap:10px;
                grid-template-columns: 20% 45% 15% 15% ;
                grid-template-rows: 100%;
                padding: 10px;
              }

              .details-flows--body {


              }

              .details-flows--footer {
                position:absolute;
                bottom: 10px;
              }


/*------------------------------------*\
  #SPECIFIC ELEMNT DISPOSITION
\*------------------------------------*/

.flats-flows {
  max-height: 430px;
}
    .flat-flows-container {
      max-height:400px;
      overflow:auto;
    }

        .flats-flows--body {

        }
            .flat-flows-disposition {
              max-height:140px;
              padding-bottom:15px;
              margin-bottom: 10px;
              display:grid;
              grid-template-columns: 1fr;
              grid-gap: 10px;
              grid-template-areas:
                  "one"
                  "two"
              ;
              &:not(:last-child) {
                border-bottom: 1px solid rgba($gray, 0.1);
              }
            }

                  .flat-flows-disposition--header {
                    align-items:center;
                  }
                  .flat-flows-disposition--body {
                    display:grid;
                    grid-gap: 5px;
                    grid-template-columns: 33% 33% 33%;
                    grid-template-rows: 100%;
                    align-content:center;
                    &:not(:last-child) {
                      border-bottom: 1px solid rgba($gray, 0.1);
                    }
                  }




/*------------------------------------*\
  #SPECIFIC CSS FONT

\*------------------------------------*/


.green-numbers {
  color: $green-dark;
}

#income-number {
  opacity: 0.6;
}

#spending-number {
  color: $coral;
}


