// Specific CSS for your home-page

.container-nav-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 25px;
  margin-left: 25px;
}

.navbar-home {
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.nav-item {
    margin-bottom: 10px;
}

.nav-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin-right: 15px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    //transition: width .3s;
}

.title {
  font-family: $logo-font;
  color: $blue;
}

.container-title-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-strong-point {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.container-card-koobo {
  border-radius: 25px;
  text-align: center;
  align-items: center;
  background: white;
  padding: 2px 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 300px;
  & h4 {
    height: 10%;
    margin: 10px 0px;
  }

  & img {
    height: 40%;
    width: auto;
    margin-bottom: 10px;
  }
  & ul {
    padding-top: 10px;
    height:50%;

  }
}

.two-element-right img {
  max-height: 320px;
  width: auto;
  margin-top: 60px;
}


.two-element-left {
  text-align: center;
  & h3 {
    padding: 15px;
  }

  & p {
    padding: 15px;
  }
}

.button-home-home {
  background-color: $coral;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  &:hover {
    opacity: 0.9;
    color: $blue;
  }
}

.card-saving {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none !important;
  & h3{
    padding: 15px;
  }
  & p {
    padding: 15px;
  }
}

.peaceful-left img {
  max-height: 320px;
  width: auto;
}

.peaceful-right {
  text-align: center;
  h3 {
    padding: 15px;
  }
  p {
    padding: 15px;
  }
}

.button-home {
  background-color: $coral;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: lighter;
  &:hover {
    opacity: 0.9;
    color: $blue;
  }
}

.container-data-protection {
  margin: 40px;
}

.card-data-protection {
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $blue;
  opacity: 0.9;
  & h3 {
    color: white;
    font-weight: bold;
  }
}

@include media-breakpoint-down(md) {
  /* For a screen < 768px, this CSS will be read */

  .card-strong-point {
    display: block;
  }
  .container-card-koobo {
    margin: 25px;
  }
  .two-element-right img {
    display: none;
  }
  .peaceful-left img {
    display: none;
  }
}

