// Specific CSS for your home-page


// BANNER

.container-home {
}

.container-header-home {
  position:relative;
  background-color:$blue;
  width:100%;
  min-width:90%;
  height: 70vh;
  min-height: 70vh;
  opacity:0.99;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
  }
  h4 {
    color:white;
  }
}

.inside-banner {
  padding:10% 20%;
  h1 {
    font-size:54px;
  }
  //
}

#banner-typed-text {
  font-size:54px;
  color:$coral;
  font-weight:bold;
}

// FROM CSS DISPLAY IN BANNER

#flat-banner {
    position:absolute;
    bottom:0;
    right:0;
    width:400px;
  }

#people-handshake {
  position:absolute;
  bottom:0;
  left:0;
  width:400px;
}

#half-circle {
  width:140px;
  position:absolute;
  top: 14%;
  left:19px;
}

// SECTION TWO

#section-two {
  position: relative;
  background-color: $white;
}

#section-two-header {
  background-color: white;
  width:100%;
  text-align:center;
  padding: 50px 200px;
}

.linecoral {
  font-weight:bold;
  display: inline;
  white-space: pre-wrap;
  box-shadow: $coral 0px -1rem 0px inset;
  padding: 0px 0.2rem;
}

#section-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
}




