// Specific CSS for your home-page
// BANNER

#container-home {
}

#container-header-home {
  position:relative;
  background-color:$blue;
  width:100%;
  min-width:90%;
  height: 70vh;
  min-height: 70vh;
  opacity:0.99;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
  }
  h4 {
    color:white;
  }
}

#inside-banner {
  padding:10% 25%;
  height:100%;
  position:relative;
  h1 {
    font-size:48px;
  }
  //
}

#inside-banner-top{
  height:50%;
  //
}

#banner-typed-text {
  height:70px;
  font-size:48px;
  color:$coral;
  font-weight:bold;
}

// SUBSCRIBE FORM HOME

.subscribe-mail {
  display:flex;
  justify-content:space-around;
  align-items:center;
  margin:50px 30px;
}

.simple-form-subscribe {
  color: rgba($gray, 0.5);
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid $coral;
  width:70%;
  // IN ORDER TO SWITCH OFF THE DATA-SET FROM MAILCHIMP WHICH APPLY A SQUARE ARROUND FORM
  &:focus {
      outline: -webkit-focus-ring-color auto 0px;
    }
}

// FROM CSS DISPLAY IN BANNER

#flat-banner {
    position:absolute;
    bottom:0;
    right:0;
    width:350px;
  }

#people-handshake {
  position:absolute;
  bottom:0;
  left:0;
  width:350px;
}

#half-circle {
  width:120px;
  position:absolute;
  top: 14%;
  left:19px;
}

// SECTION TWO

#section-two {
  position: relative;
  background-color: $white;
}

#section-two-header {
  background-color: white;
  width:100%;
  text-align:center;
  padding: 50px 200px 0px 200px;
}

.linecoral {
  display: inline;
  white-space: pre-wrap;
  box-shadow: $coral 0px -1rem 0px inset;
  padding: 0px 0.2rem;
}

#section-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
}


// SECTION THREE


#section-three {
  padding: 50px 210px;
  text-align:center;
  h2 {
    margin-bottom:4%;
  }
  p {
    margin-bottom:3%;
  }
}

.two-element {
  display:flex;
  justify-content:space-between;
  align-items:center;

  img {
    max-height: 320px;
    width: auto;
    margin-top: 60px;
  }
}

#one-element{
  margin-top: 3%;
  padding: 3% 4%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius:25px;

}
// FOOTER

#footer {
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white
}

#footer-links {
  text-align: center;
  //
}

#footer-links a {
  color: $coral;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  &:hover {
    opacity: 0.7;
  }
}


// RESPONSIVNESS

@media (max-width: 1120px) {

  #people-handshake {
    width:250px;
  }

}

@media (max-width: 550px) {

}
