.form-input {
  margin: 30px;
}

.form-input_year_month {
  margin: 30px 30px 0;
}

.element {
  label {
    margin-right: 20px;
  }
  input {
    width: 200px;
  }
}

#flow-form-btn {
  padding: 15px 30px;
  background-color: #EE8572;
  border-radius: $border-radius;
  border: none;
  color: white;
  text-align: center;
}

#yearHelp {
  margin-bottom: 30px;
}

.flow-modal {
  background-color: white;
}

#flow-body {
  text-align: justify;
}

.validation-button {
  text-align: center;
}

.help-text {
  margin-left: 30px;
}

.form-control {
  background-color: white;
}

.form-control:disabled, .form-control[readonly] {
  background-color: white;
}
