.form-input {
  margin: 30px;
}

.form-input_year_month {
  margin: 30px 30px 0;
}

.element {
  justify-content: center;
  label {
    margin-right: 20px;
  }
  input {
    width: 200px;
  }
}

.new-flow {
  text-align: center;
}

#flow-form-btn {
  padding: 15px 30px;
  background-color: #EE8572;
  border-radius: 4px;
  border: none;
  color: white;
}

#yearHelp {
  margin-bottom: 30px;
}
