.bg-image {
  height: 90vh;
  background-image: url("https://cdn.dribbble.com/users/1803663/screenshots/5642226/home2_4x.png"), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
  background-size: 100%;
  background-position: center;
}
