/*------------------------------------*\
  #DISPOSITION INDEX RENTINGS (DOCUMENTS)
\*------------------------------------*/

.grid-rentings{
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  padding:20px;
  grid-template-areas:
      "one one five"
      "two two three"
      "two two three"
  ;
  .search-doc{
    grid-area: one;
    width:100%;
  }
  .valid-doc{
    grid-area: two;
  }
  .pending-doc{
    grid-area:three;
  }
}





/*------------------------------------*\
  #SEARCH DOC STYLE
\*------------------------------------*/

#search-documents {
  display:flex;
  align-items:center;
  justify-content:space-between;
  #query {
    width:80%;
    font-size:16px;
  }
  .koobo-button {
    margin:0 auto;
  }
}





/*------------------------------------*\
  #VALID-DOC STYLE
\*------------------------------------*/

.valid-doc {
  h3 {
    margin-bottom: 20px;
  }
}















