$size-screen: 85vh;

#disposition-card-four {
  width:100%;
  height:$size-screen;
  display: grid;
  grid-template-columns: minmax(60%, 60%) minmax(35%, 35%);
  grid-template-rows: $size-screen - 3;
  grid-gap: 20px;
  grid-template-areas:
        "one two"
}

#disposition-four-left {
  grid-area: one;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 5px;
  & .schedules-container-show-edit {
    max-width:100% !important;
  }
}

#disposition-four-right {
  grid-area: two;
  text-align:center;
  justify-self: stretch;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  border-radius: 5px;
}


// RESPONSIVNESS

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  body {
    // background-color: red;
  }

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  // body {
  //   background-color: orange;
  // }
  // #disposition-card-two {
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: 1fr 1fr 3fr 1fr;
  //   grid-template-areas:
  //         "one one"
  //         "three three"
  //         "three three"
  //         "four two";
  // }

  // body {
  //   background-color: orange;
  // }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
//   body {
//     background-color: yellow;
//   }
// }

// Small devices (landscape phones, 576px and up)
// @media (max-width: 576px) {
//   body {
//     background-color: gray;
//   }
}
