/*------------------------------------*\
  #DISPOSITION
\*------------------------------------*/
.disposition-search-query {

}


/*------------------------------------*\
  #SPECIFIC CSS SEARCH ELEMENTS
\*------------------------------------*/

.disposition-search-query {
  height:100%;

}
      .search-query {
        width:100%;
        height:20%;
        display:flex;
        justify-content:center;
        align-items:center;
        label {
          font-size: 1.7em;
          color: $blue;
          font-weight:bold;
        }
        input {
          font-size: 1.2em;
          margin-right:10px;
        }
        .simple_form {
          display:flex;
          justify-content:space-around;
          align-items:flex-end;
          .koobo-button {
            margin-left: 30px;
          }
          .form-group {
            margin-bottom: 0;
          }
        }

      }

      .pending-search-query {
        display:flex;
        justify-content:end;
        align-items:flex-end;
        position:relative;
        border-bottom:3px solid $blue;
        grid-area: two;
        opacity:0.6;
        width:100%;
        height:77%;
      }
            #pending-image-big {
              width:65%;
              margin-bottom: -3px;
              z-index:-1;
            }

            #pending-image-small {
              width:20%;
            }

            #bubble-text {
              position:absolute;
              width:30%;
              height:30%;
              padding: 20px;
              top:-20px;
              left:10px;
              display:flex;
              align-items:center;
              text-align:center;
              color: rgba($blue, 0.6);
              background-color: rgba($blue-light, 0.1);
              box-shadow:$box-shadow-lighter;
              border-radius: 30px;

            }

      .active-search-query {
        display:flex;
        justify-content:space-between;
        align-items:start;
        position:relative;
        overflow:none;
        max-height:70vh;
        min-height: 70vh;
        overflow:hidden;
      }

            .active-search-query--cards {
              max-height: 75vh;
              overflow-y: scroll;
              width:50%;
              padding: 10px;
              textarea {
                font-size: 16px;
                min-height:100px;
              }
            }

            .active-search-query--map {
              width:48%;
              height:100%;
              border-radius: $border-radius;
              #map {
                position: absolute;
                top:0%;
                right:0%;
                box-shadow: $box-shadow;
                border-radius: $border-radius;
                width: 48%;
                min-height: 70vh !important;
              }
            }



/*------------------------------------*\
  #RESPONSIVENESS
\*------------------------------------*/









