<h3>Hello <%= @tenant.first_name.nil? ? "" : @tenant.first_name.capitalize %> !</h3>
<p>On a répondu à ta demande de visite !</p>
<p>Viens vite voir la réponse sur <a href="https://wwww.koobo.co/visits">Koobo</a></p>
