<h3>Hello <%= @renter.first_name.nil? ? "" : @renter.first_name.capitalize%> !</h3>
<p>Tu as une demande de visite en attente.</p>
<p>Viens vite donner une réponse sur <a href="https://wwww.koobo.co/schedules">Koobo</a></p>

