<div class="dashboard-data-set" data-line="calendrier">
  <div class="d-flex">
    <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules, documents: @documents} %>
    <div style=" width:100%;">
      <%= render 'shared/navbar_dashboard' %>
      <div class="container" >
        <% @schedules.each do |time| %>
        <p> <%= time.start %> <%= time.end %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
