<div id="dashboard-js">
  <div class="dashboard-wrapper">
    <div class="pt-3 pb-5">
      <a href=""><p class="logo-text"><span id="k-logo">K</span>oobo</p></a>
    </div>
      <div class="dashboard-line mb-3 active-dashboard">
        <a href="<% link_to flats_path %>">
          <i class="fas fa-home icon-dashboard fa-2x"></i>
          <p>Appartements</p>
          <span class="notif-counter"></span>
        </a>
      </div>
      <div class="dashboard-line mb-3">
        <a href="#">
          <i class="far fa-calendar-alt icon-dashboard fa-2x"></i>
          <p>Calendrier</p>
          <span class="notif-counter"></span>
        </a>
      </div>
      <div class="dashboard-line mb-3">
        <a href="#">
          <i class="far fa-file-alt icon-dashboard fa-2x"></i>
          <p>Documents</p>
          <span class="notif-counter"></span>
        </a>
      </div>
      <div class="dashboard-line mb-3">
        <a href="#">
          <i class="far fa-user icon-dashboard fa-2x"></i>
          <p>Profil</p>
          <span class="notif-counter"></span>
        </a>
      </div>
  </div>
</div>
