<div class="flat-supplies">
  <% if flat.furnished %>
    <p class="bubble supplies">Meublé</p>
  <% else %>
    <p class="bubble supplies">Non-meublé</p>
  <% end %>
  <% if flat.cellar %>
    <p class="bubble supplies">Cave</p>
  <% end %>
  <% if flat.parking %>
    <p class="bubble supplies">Parking</p>
  <% end %>
  <% if flat.elevator %>
    <p class="bubble supplies">Ascenceur</p>
  <% end %>
  <% if flat.balcony %>
    <p class="bubble supplies">Balcon</p>
  <% end %>
</div>
