<div class="container">
  <div class="navbar-dashboard">
    <h2>Appartement</h2>
    <div class="navbar-dashboard-right">
      <div class="element-right">
        <a href=""><i class="far fa-bell fa-2x"></i></a>
        <span>2</span>
      </div>
      <img src="https://avatars2.githubusercontent.com/u/7569997?v=4" alt="" class="avatar-bordered">
    </div>
  </div>
</div>
