<div class="navbar-home">
  <%= link_to root_path do %>
    <h1><strong><span class="k-logo">K</span>oobo</strong></h1>
  <% end %>
  <%= link_to 'Se connecter', new_user_session_path, class: 'button-sign-in-home' %>
</div>