<div class="container">
  <div class="navbar-dashboard">
    <h2>Appartement</h2>
    <div class="element-right">
      <a href=""><i class="far fa-bell fa-2x"></i>
        <span>2</span>
      </a>
      <img src="https://avatars2.githubusercontent.com/u/7569997?v=4" alt="" class="avatar-bordered">
      <!-- Will be modified with current_user.name -->
      <p>Gerrad Darrel</p>
    </div>
  </div>
</div>
