<div class="dashboard-data-set" data-line="dashboard">
  <div class="screen-container">
    <div class="dashboard-container full">
      <%= render partial: 'shared/dashboard', locals: { flats: @flats, schedules: @schedules} %>
    </div>
    <div class="nav-container full">
      <h3> Mon dashboard</h3>
      <%= render partial: 'shared/navbar_dashboard', locals: { page_title: 'Documents', notif_counter: @counter} %>
    </div>
    <div class="content-container full">
      <h1>Hello world</h1>
    </div>
  </div>
</div>
<%= render 'shared/bottom_nav'%>



