<% unless current_user.renter == true %>
  <div class="dashboard-data-set" data-line="current-renting">
    <div class="screen-container">
      <div class="dashboard-container full">
          <% if user_current_renting?(current_user) %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: user_current_renting(current_user)} %>
        <% else %>
          <%= render partial: 'shared/dashboard_tenant', locals: { renting: "empty" }%>
        <% end %>
      </div>
      <div class="nav-container full">
        <%= render partial: 'shared/navbar_dashboard', locals: { notif_counter: @counter} %>
      </div>
      <div class="content-container full">
      </div>
    </div>
  </div>
<% end %>
