#collapseThree {
  .card-body {
    padding: 0;
  }
}

.container-input-files-accordion {
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  &.koobo-button {
    flex-shrink:1;
  }
}

.input-files-accordion {
  height:100%;
  width:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-grow:1;
}

.text-input-files-accordion {

}

.file-upload {
  display:flex;
  justify-content:space-around;
  align-items:center;

}

.good {
  background-color: green;
}


.add-file-clickable {
  width:70px;
  height:70px;
  border-radius:5px;
  background-color: rgba($blue, 0.02);
  box-shadow: 0 1px 2px rgba($blue, 0.3);
  text-align:center;
  font-weight:bold;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  cursor: pointer !important;
  & .fa-file-alt, .fa-file {
    font-size:32px;
    margin:0px auto;
  }
  & label {
    margin:0px;
    height:100%;
    width:100%;
  }
}

.not-activate {
  display:none;
}

.activate {
  display:block;
}


// INSIDE OTHER DOCUMENTS
#pills-container {
  height:85%;
}

#pills-header {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  padding-right: 0px;
  height:100%;
}

// OVERWRITTE BOOTSTRAP

.card-header {
  display :flex;
  justify-content: space-between;
  align-items:center;
}

.accordion {
  height:85%;
  display:flex;
  flex-direction: column;
  justify-content:center;
}

.card-body {
  width: 100%;
  height:100%;
  min-height:250px;
}

.tab-content, .tab-pane {
  height:100%;
}

.tab-pane {
  form {
    width:100%;
    height:100%;
  }
}


#flat_technical_diagnostic, #flat_information_leaflet {

}

.form-group {
  margin:0px;
}

.nav-pills {
  height:84%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  text-align:center;
  a {
    align-content:center;
  }
}

.nav-link {
  height:30%;
  padding: 1.2rem 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: rgba($blue, 0.2);
  color:$blue;
}

