.banner-home {
  height: 50vh;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0E0C41;
  background-size: 40%;
  background-position: center;
  img {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height:50vh;
  }
}
.typing-words {
  display: block;
  text-align: center;
  flex-grow: 1;

  & h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  & h2 {
    color: $coral;
    font-weight: bold;
    font-size: 45px;
    height:55px;
  }
}

.button-banner {
  background-color: $coral;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 65px 0px 0px 0px;
  font-size: 22px;
  font-weight: lighter;
  &:hover {
    opacity: 0.9;
  }
}


.container-banner {
  margin: 40px;
}

@include media-breakpoint-down(md) {

  .banner-home img {
    display: none;
  }
}
