.banner {
  height: 60vh;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #201E50;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
  background-size: cover;
  background-position: center;
  img {
  position: absolute;
  }
  h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
    background-color: #EE8572;
    border-radius: 4px;
    border: none;
    margin-top: 65px;
  }
}

a:hover {
  opacity: 0.9;
}

.container-banner {
  margin: 40px;
}
