.container-flex {
  display:flex;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p, h2 {
  margin: 0px;
}

ul {
  margin:0px;
  padding:0px;
  list-style-type: none;
}

body {
  background-color: white;
  color: #201E50;
}

.disposition-size {
  width:95%;
  height:100%;
  padding: 2.5% 0;
  margin:auto;
}

.full {
  width:100%;
  height:100%;
}
// TEST DASHBOARD VIEW CONTAINER GRID

.screen-container {
  display:grid;
  grid-template-columns: 275px calc(100% - 295px);
  grid-template-rows: 80px calc(100% - 100px);
  grid-gap: 20px;
  grid-template-areas:
          "one two"
          "one three";
  .dashboard-container {
    grid-area: one;
  }
  .nav-container {
    grid-area: two;
  }
  .content-container {
    grid-area: three
  }

}
