* {
  box-sizing: border-box;
}



.container-flex {
  display:flex;
}


a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p, h2 {
  margin: 0px;
}

ul {
  margin:0px;
  padding:0px;
  list-style-type: none;
}

body {
  background-color: white;
  color: #201E50;
}

.disposition-size {
  width:95%;
  height:100%;
  padding: 2.5% 0;
  margin:auto;
}

.full {
  width:100%;
  height:100%;
}
// TEST DASHBOARD VIEW CONTAINER GRID

.screen-container {
  display:grid;
  grid-template-columns: 275px calc(100% - 295px);
  grid-template-rows: 80px calc(100vh - 100px);
  grid-gap: 20px;
  grid-template-areas:
          "one two"
          "one three";
  .dashboard-container, .nav-container, .content-container {
    width:97.5%;
    height:100%;
  }
  .dashboard-container {
    grid-area: one;
  }
  .nav-container {
    grid-area: two;
    display:flex;
    align-items:center;
    justify-content:space-between;
    h3 {
      flex-grow:1;
    }
  }
  .content-container {
    overflow:auto;
    grid-area: three
  }

}
