.koobo-button {
  padding: 7px 10px;
  background-color: $coral-light;
  border-radius: 5px;
  color:white;
  font-size:15px;
  font-weight: bold;
  border: none;
  &:hover {
    background-color: $coral;
    color:white;
  }
}

.button-sign-home {
  color: white;
  background-color: $blue;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid white;
  &:hover {
    transition: 0.2s;
    background-color: $coral;
    border: 1px solid $coral;
    color: white;
  }
}

#button-sign-in-home {
  position: absolute;
  top: 0;
  right: 170px;
  margin: 21.5px;
}

#button-sign-up-home {
  position: absolute;
  top: 0;
  right: 0;
  margin: 21.5px;
}

#button-dashboard-home {
  position: absolute;
  top: 0;
  right: 0;
  margin: 21.5px;
}

.button-subscribe-home {
  color: white;
  font-weight:bold;
  background-color: $coral;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid $coral;
  width:130px;
  &:hover {
    transition: 0.2s;
    font-weight:bold;
    background-color: $coral-light;
    border: 1px solid $coral-light;
    color: $blue;
  }
}

.btn-refuse{
  background: $red;
  padding: 7px 16px;
  opacity: 0.8;
  &:hover {
    background: $red;
    opacity:1;
  }
}

.btn-accept{
  background: $green;
  opacity:0.8;
    &:hover {
    background: $green;
    opacity:1;
  }
}

.delete-link {
  color: $coral-light;
  margin-top: 12px;
  &:hover {
    color: $coral-light;
    text-decoration: underline;
  }
}
.bouton-locataire{
  margin-top: 17px;
}
