/*------------------------------------*\
  #CARD-USED-IN-HOME-PAGE
\*------------------------------------*/

.card-section-two{
  border-radius: $border-radius;
  text-align: center;
  align-items: center;
  min-width: 280px;
  background: white;
  padding: 2px 16px;
  box-shadow: $box-shadow;
  height: 300px;
    margin: 25px;
  h4 {
    height: 10%;
    margin: 10px 0px;
  }
  img {
    height: 40%;
    width: auto;
    margin-bottom: 10px;
  }
  p {
    padding-top: 10px;
    height:50%;
  }
}

/*------------------------------------*\
  #CARD USED TO SET MARGIN DISPOSITION
\*------------------------------------*/

.card-positioning {
  padding: 2% 4%;
  text-align:center;
  height:100%;
  max-height:100%;
  justify-content: center;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  h2{
    text-align:center;
  }
  h3 {
    margin: 0px;
  }
}


/*------------------------------------*\
  #CARD SMALL(100PX) THREE BLOCKS
\*------------------------------------*/

.card-small-three-blocks {
  margin-bottom: 10px;
  border-radius:$border-radius;
  max-height:100px;
  width:100%;
  text-align:start;
  border: 1px solid rgba($gray, 0.1);
  display:flex;
  justify-content:space-between;
  align-items:center;
  ;
  &:hover {
    background-color: rgba($coral-light, 0.3);
    color:$blue;
  }
  .card-small-three-blocks--first {
    object-fit: cover;
    width: 120px;
    height:100px;
    border-radius: $border-radius 0px 0px $border-radius;
  }
}

  .card-small-three-blocks--second {
    margin-left: 10px;
    flex-grow:1;
  }
  .card-small-three-blocks--third {
    min-width:20%;
  }


/*------------------------------------*\
  #CARD SMALL(100PX) TWO BLOCKS
\*------------------------------------*/

.card-small-two-blocks {
  text-align:start;
  margin-bottom: 10px;
  border-radius: $border-radius;
  max-height:100px;
  width:100%;
  border: 1px solid rgba($gray, 0.1);
  display:flex;
  justify-content:space-between;
  align-items:center;
  ;
  &:hover {
    background-color: rgba($coral-light, 0.3);
    color:$blue;
  }
  .card-small-two-blocks--first {
    object-fit: cover;
    width: 120px;
    height:100px;
    border-radius: $border-radius 0px 0px $border-radius;
  }
}

    .card-small-two-blocks--second {
      margin-left: 10px;
      flex-grow:1;
    }

    .img-logo-show {
      width: 40px;
      height: 40px;
      border-radius: 30%;
      &.inactive {
        opacity: 0.15;
      }
    }


/*------------------------------------*\
  #MEDIUM CARD (200px) TWO BLOCKS FLAT - INDEX
\*------------------------------------*/

.card-medium-two-blocks {
  width:100%;
  height:200px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin-bottom: 20px;
}

    .card-medium-two-blocks--photo {
      object-fit: cover;
      width: 35%;
      height:200px;
      border-radius: $border-radius 0px 0px $border-radius;
    }

    .card-medium-two-blocks--footer__four {
      flex-grow:1;
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 50px 150px;
      grid-template-areas:
          "one one one one"
          "two three four five"
      ;
      .card-medium-two-blocks--footer__title {
        grid-area: one;
        align-content:center;
        margin: auto;
      }
      .first-section {
        margin:auto;
        grid-area: two;
      }
      .second-section {
        margin:auto;
        grid-area: three;
      }
      .third-section {
        margin:auto;
        grid-area: four;
      }
      .fourth-section {
        margin:auto;
        grid-area:five;
      }
    }


    .card-medium-two-blocks--footer__three {
      flex-grow:1;
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 50px 100px;
      grid-template-areas:
          "one one one one"
          "two three four five"
      ;
      .card-medium-two-blocks--footer__title {
        grid-area: one;
        align-content:center;
        margin: auto;
      }
      .first-section {
        margin:auto;
        grid-area: two;
      }
      .second-section {
        margin:auto;
        grid-area: three;
      }
      .third-section {
        margin:auto;
        grid-area: four;
      }
    }


/*------------------------------------*\
  #LARGE CARD INLINE SQUARE (350px) FLAT - INDEX
\*------------------------------------*/

.card-large-inline:hover {
  &.empty {
    transition: all 0.3s ease-out 0s;
    background-color: rgba($coral-light, 0.3);
    .icon-new-dashboard {
      transition: 0.3s ease;
      padding-bottom: 10px;
      color: $coral;
      font-size: 5em;
    }
  }
}

.card-large-inline {
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: $border-radius;
  max-height:300px;
  box-shadow: $box-shadow;
  &.empty a {
    min-height: 300px ;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    text-align: center;
  }
  .card-large-inline--photo  {
    height:220px;
    width:350px;
    border-radius: $border-radius $border-radius 0 0 ;
    object-fit: cover;
  }
  p {
    font-size: 0.7em;
  }
}

    .card-large-inline--footer {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items:center;
      font-weight:bolder;
      h6 {
        font-weight:bolder;
        color:$blue;
        a:hover {
          color:$blue;
        }
      }
    }

          .avatar-card-large {
            position: absolute;
            right: 16px;
            top: -40px;
          }





/*------------------------------------*\
  #CARD REQUEST FOR NOTIFICATION VISITS RENTING FOLDER
\*------------------------------------*/


.card-request {
  width:100%;
  height: 100px;
  background: white;
  border: 1px solid rgba($gray, 0.3);
  display: flex;
  align-items: center;
  border-radius: $border-radius;
  position:relative;
  margin-top: 4%;
  img {
    height: 100%;
    width: 105px;
    object-fit: cover;
  }
  p {
  font-size: 0.7em;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  }
}

      .card-request-infos {
        height:80%;
        width:65%;
        margin: auto 2.5%;
        display:flex;
        flex-direction: column;
        justify-content:space-around;
        align-items:center;
      }


      .card-request-infos-pending {
        height:80%;
        width:65%;
        margin: auto 2.5%;
        display:flex;
        justify-content:space-around;
        align-items:flex-start;
        position:relative;
      }

      .card-request-contact {
        position:absolute;
        width:100%;
        bottom: 5%;
        display:flex;
        justify-content:space-around;
        align-items:center;
      }

.icon-card-pending {
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding:10px;
  width:100%;
  .icon-pending__size {
    font-size: 24px;
    color:$blue;
  }
}

.list-document-records {
  display:flex;
  justify-content:space-between;
}

.list-document-renting-folder {
  li {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-bottom: 1rem;
    &:first-child {
      padding-top: 1rem;
    }
    .fa-home {
      margin-top:0px !important;
    }
  }
}
.modal-body {
  text-align:start;
}
    .icon-pending--bubble {
      padding: 5px 10px;
      border-radius: 5px;
    }
        .blue-bubble{
          border: 1px solid rgba($blue-light, 0.1);
          background-color: rgba($blue-light, 0.2);
          color: rgba($blue, 0.9);
        }
        .coral-bubble {
          border: 1px solid rgba($coral, 0.1);
          background-color: rgba($coral, 0.2);
          color: rgba($coral, 0.9);
          i:before {
            color:rgba($coral, 0.9);
          }
        }
        .green-bubble {
          border: 1px solid rgba($green, 0.1);
          background-color: rgba($green, 0.2);
          color: rgba($green, 0.9);
        }
        .gray-bubble {
          border: 1px dashed rgba($blue-light, 0.1);
          background-color: rgba($gray, 0.1);
          color: $blue;
        }
        .gray-lighter-bubble {
          border: 1px dashed rgba($blue-light, 0.1);
          background-color: rgba($light-gray, 0.9);
          color: $blue;
        }




/*------------------------------------*\
  #CARD SMALL ONE LINE
\*------------------------------------*/

.card-small-one-line {
  display:flex;
  justify-content:space-between;
  align-items:center;
  border: 1px solid rgba($gray, 0.1);
  width:100%;
  height:40px;
  border-radius: 5px;
  padding: 0px 10px;

}

    .card-small-one-line--left {
      flex-grow:1;
    }

    .card-small-one-line--right {
      width: 20%;
    }




/*------------------------------------*\
  #CARD SPECIFIC ACCOUNTING
\*------------------------------------*/


.card-accounting {

  display: grid;
  grid-gap:10px;
  grid-template-columns: 20% 45% 15% 15%;
  grid-template-rows: 100%;
  align-items: start;
  border-top: 1px solid rgba(14, 0, 0, 0.1);
  padding-top: 10px;
  text-align:start;

}

    .card-accounting--description {
      display:inline-block;
      p:last-child {
        color: rgba($gray, 0.3);
        text-overflow: ellipsis;
      }
    }


/*------------------------------------*\
  #CARD SPECIFIC FOR SEARCH
\*------------------------------------*/


.card-specific-search {
  margin-bottom: 30px;
  color:$blue;
  width:100%;
  height:180px;
  box-shadow: $box-shadow;
  border-radius: 5px;
  display:grid;
  grid-gap:5px 10px;
  grid-template-columns: 35% 63% ;
  grid-template-rows: 20% 78%;
  grid-template-areas:
      "one two "
      "one three"
  ;
  .card-specific-search--photo {
    grid-area:one;
  }
  .card-specific-search--header {
    grid-area:two;
  }
  .card-specific-search--footer {
    grid-area:three;
  }

}

    .card-specific-search--photo {
      width:100%;
      height:100%;
      border-radius: $border-radius 0 0 $border-radius;
      object-fit: cover;

    }

    .card-specific-search--header {
      padding-top:10px;
      h5 {
        margin:0px;
      }
      p {
        font-size: 0.8em;
      }
    }

    .card-specific-search--footer {
      display:grid;
      grid-gap: 0px 10px;
      grid-template-columns: 35% 23% 33%;
      grid-template-rows: 30% 40% 30%;
      grid-template-areas:
        "one one one"
        "two two two"
        "three four five"
      ;
      .first-section {
        grid-area:one;
      }
      .second-section {
        grid-area:two;
      }
      .third-section {
        grid-area:three;
        text-align:center;
        margin-bottom:10px;
      }
      .fourth-section {
        grid-area: four;
        text-align:center;
        margin-bottom:10px;
        .h8 {
          width:100%;
        }
      }
      .fifth-section {
        grid-area: five;
        text-align:center;
        margin-bottom:10px;
      }
    }

/*------------------------------------*\
  #CARD SPECIFIC FOR UPLOAD DOCUMENT
\*------------------------------------*/

.card-upload-doc {
  text-align:center;
  padding:1%;
  border-radius:5px;
  width:22.5%;
  justify-content:center;
  height: 170px;
  position:relative;
  &.empty {
    background-color: rgba($light-gray, 0.4);
    border: 1.5px dashed rgba($light-gray, 0.7);
  }
  &.fulfill{
    background-color: rgba($green, 0.1);
    border: 1.5px dashed rgba($green, 0.4);
  }
  p:first-child {
    padding: 0.1rem 0px 0.4rem 0px;
    font-size: 0.75rem;
  }
  p:last-child {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    text-overflow:ellipsis;
    padding-bottom: 0.2rem;
  }
}

// DON'T KNOW WHERE IT'S USED



// CARD GRID

#index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}








// CARD PRODUCT USED IN CARD PENDING SHARED








// CARD TRIP



.card-flat {
  width: 100%;
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
}

// USED IN FLAT_SHOW_ONGOING_RENTED

.card-tenant_ongoing_flat{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}

// USED IN CARD LOCATAIRE SHARED

.card-locataire {
  color:$blue;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  background-color: white;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas:
          "one two two"
          "three three three";
  justify-items:center;
  align-items:center;
  .avatar-large {
    grid-area: one;
    justify-items:center;
  }
  h4 {
    grid-area: two;
  }
  .card-name-locataire {
    grid-area: two;
  }
  .card-icon-uptodate-payments {
    grid-area: three;
  }
 }

// USED IN CARD FLAT DETAILS SHARED

.card-locataire-details {
  color: $blue;
  width: 100%;
  height: 100%;
  position:relative;
  background-color: white;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20% 50% 20%;
  grid-template-areas:
          "one one five five"
          "two two three three"
          "four four three three";
  justify-items:center;
  align-items:center;
  h3 {
    position:absolute;
    top:5%;
    left:25%;
  }
  h6:first-child {
    color: $blue;
    grid-area: one;
  }
  h6:nth-child(2n) {
    color: $blue;
    grid-area: five;
    text-align:center;
  }
}

.cards-locataire-platforms {
  grid-area: two;
  width:100%;
  display:flex;
  justify-content:space-around;
}

.card-locataire-button {
  width:100%;
  height:100%;
  grid-area:four;
  display: flex;
  flex-direction:line;
  justify-content:space-around;
}




// CARD FOR RENTINGS



.info-card-doc{
    text-align: inherit;
}
.card-doc {
  margin: 16px 8px;
  border-radius: $border-radius;
  align-item: center;
}

.card-locataire-analytics {
  grid-area:three;
}
