


// CARD HOME
.card-section-two{
  border-radius: 25px;
  text-align: center;
  align-items: center;
  min-width: 280px;
  background: white;
  padding: 2px 16px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 300px;
    margin: 25px;
  h4 {
    height: 10%;
    margin: 10px 0px;
  }
  img {
    height: 40%;
    width: auto;
    margin-bottom: 10px;
  }
  p {
    padding-top: 10px;
    height:50%;
  }
}

// CARD GRID

#index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// CARD PRODUCT USED IN CARD PENDING SHARED

.card-product {
  width:95%;
  height: 100px;
  background: white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  position:relative;
  margin-top: 4%;
}

.card-product img {
  height: 100%;
  width: 105px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.card-product-infos {
  height:80%;
  width:65%;
  margin: auto 2.5%;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
}


.card-product-infos-pending {
  height:80%;
  width:65%;
  margin: auto 2.5%;
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  position:relative;
}

.card-product-contact {
  position:absolute;
  width:100%;
  bottom: 5%;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

// CARD TRIP

.card-trip {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: bold;
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  & a {
    text-decoration: none;
    color: #201E50;
  }
  & a:hover {
    color: #EE8572
  }
}

.card-trip p {
  font-family: 'Quicksand';
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 75px;
  & .card-trip-pricing {
    padding-top: 36px;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-schedules{
  max-height: 730px;
  //
}

.card-flat {
  width: 100%;
}

.info-flat {
  padding : 16px;
  & h2, p {
    margin:5% 0;
  }
  & h2:first-child {
    margin:0;
  }
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
}

// USED IN FLAT_SHOW_ONGOING_RENTED

.card-tenant_ongoing_flat{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}

// USED IN CARD LOCATAIRE SHARED

.card-locataire {
  color:$blue;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas:
          "one two two"
          "three three three";
  justify-items:center;
  align-items:center;
  .avatar-extra-large {
    grid-area: one;
    justify-items:center;
  }
  h4 {
    grid-area: two;
  }
  .card-name-locataire {
    grid-area: two;
  }
  .card-icon-uptodate-payments {
    grid-area: three;
  }
 }

.img-logo-show {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  &.inactive {
    opacity: 0.15;
  }
}

// USED IN CARD FLAT DETAILS SHARED

.card-locataire-details {
  color: $blue;
  width: 100%;
  height: 100%;
  position:relative;
  background-color: white;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20% 50% 20%;
  grid-template-areas:
          "one one five five"
          "two two three three"
          "four four three three";
  justify-items:center;
  align-items:center;
  h3 {
    position:absolute;
    top:5%;
    left:25%;
  }
  h6:first-child {
    color: $blue;
    grid-area: one;
  }
  h6:nth-child(2n) {
    color: $blue;
    grid-area: five;
    text-align:center;
  }
}

.cards-locataire-platforms {
  grid-area: two;
  width:100%;
  display:flex;
  justify-content:space-around;
}

.card-locataire-button {
  width:100%;
  height:100%;
  grid-area:four;
  display: flex;
  flex-direction:line;
  justify-content:space-around;
}


// CARD CATEGORY
.card-positioning {
  background-size: cover;
  background-position: center;
  h2{
    text-align:center;
  }
  padding-top: 32px;
  height:100%;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// CARD FOR RENTINGS
.card-product-original {
  overflow: hidden;
  height:300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product-original img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-original h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-original p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-original .card-product-original-infos{
  padding: 16px;
  h2 {
    text-align: center;
  }
     width: 100%
}


.info-card-doc{
    text-align: inherit;
}
.card-doc {
  margin: 16px 8px;
  border-radius: 4px;
  align-item: center;
}

.card-locataire-analytics {
  grid-area:three;
}
