.card-trip {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: bold;
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  & a {
    text-decoration: none;
    color: #201E50;
  }
  & a:hover {
    color: #EE8572
  }
}

.card-trip p {
  font-family: 'Quicksand';
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.card-flat {
  width: 65%;
  margin: 0px 30px 0px 0px ;
}

.card-locataire {
  color:white;
  width: 35%;
  height: 300px;
  border-radius: 15px;
  background-color: $blue;
  text-align:center;
  box-shadow: 0 1px 24px rgba(0,0,0,0.8);
  & h3, img {
    margin-top:10px;
  }
  & ul {
    margin-top: 20px;
  }
  & li {
    text-align:left;
  }
}
.card-locataire li {
  & p {
    margin-top: 10px;
  }
}
