// FONT LOGO KOOBO
.logo-text {
  color: $white;
  font-family: $logo-font;
  font-size: 40px;
}

// DASHBOARD WRAPPER
.dashboard-wrapper {
  background-color: $blue;
  position: sticky;
  top: 0;
  height:100vh;
  width: 275px;
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 60px);
  > a:first-child {
    grid-row: 1 / 3 ;
  }
  & > a > p {
    padding: 5% 0 15% 0;
    text-align:center;
  }
}

// DISPOSITION DASHBOARD

// #dashboard {
//   grid-area: two;
// }

// #appartements, #current-renting {
//   grid-area: three;
// }

// #calendar, #my-file {
//   grid-area:four;
// }


// #documents, #search {
//   grid-area:five;
// }

// #accounting, #my-askings {
//   grid-area:six;
// }

// #profil {
//   grid-area:seven;
// }

// CONTAINER_CLICKABLE_ELEMENT FOR DASHBOARD

.dashboard-line {
  border-radius: $border-radius;
  padding-left: 20px;
  border-right: 7px solid $blue;
  &:hover:not(.active-dashboard) {
    background-color: $blue-light;
    border-right: 7px solid $blue-light;
  }
  & a {
    align-items: center;
    color: $white;
    width:100%;
    display:grid;
    grid-template-columns: 20% 60% 13%;
    grid-template-rows: 60px;
    grid-template-areas:
      "one two three"
    ;
  }
}

// DISPOSITION CONTAINER_CLICKABLE_ELEMENT

.dashboard-line a {
  .icon-dashboard {
    grid-area: one;
  }
  .icon-dashboard {
    grid-area: one;
  }
  .notif-counter {
    grid-area: three;
  }
}

// ACTIVE DASHBOARD

.active-dashboard {
  background-color: $blue-light;
  border-right: 7px solid $coral;
}

// COUNTER

#calendar-counter {
  visibility: hidden;
  text-align:center;
  &.active {
    visibility: visible;
  }
}

// RESPONSIVNESS

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  body {
    background-color: red;
  }

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  body {
    background-color: orange;
  }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  body {
    background-color: yellow;
  }

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  body {
    background-color: gray;
  }
}

