
.navbar-dashboard {
  position: sticky;
  margin: 30px auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  & h2 {
    margin:0px;
    font-size: 32px;
  }
}

.element-right {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  display: flex;
  width: 100%;
  text-align: right;
  & img.avatar-bordered {
    width: 50px;
    height: 50px;
  }
  & p {
    padding: 0px 20px;
  }
}

.element-right a {
  color:$blue;
  position:relative;
  &:hover {
    color: $blue-light;
  }
  & span {
    width:30px;
    height:30px;
    position:absolute;
    top: -30px;
    right: 56px;
    padding-top: 3px;
    padding-right: 11px;
    font-weight: bold;
    background-color: $coral;
    border-radius: 50%;
  }
}


#bell-notification {
  margin:0px;
  margin-right: 60px;
}
