.container-disposition {
  margin: 0 3%;
}

#disposition-card-one {
  width:100%;
  height:85vh;
  display: grid;
  grid-template-columns: minmax(60%, 60%) minmax(35%, 35%);
  grid-template-rows: minmax(25vh, 200px) minmax(25vh, 300px) minmax(25vh, 300px);
  grid-gap: 30px;
}

#disposition-one-left-top {
  justify-self: stretch;
  grid-column: 1;
  grid-row: 1 / 2;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
}

#disposition-one-left-bottom {
  justify-self: stretch;
  grid-column: 1;
  grid-row: 2 / 4;
  border: 1px solid black;
  border-radius: 15px;
}

// DOCUMENTS

#disposition-one-right-top {
  justify-self: stretch;
  grid-column: 2;
  grid-row: 1 / 3;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 15px;
  text-align:center;
  padding: 4% 15%;
  p {
    width: 100%;
  }
  ul {
    text-align:center;
    // margin: auto 0%;
  }
  li {
    margin: 10% auto;
  }
  #documents-list {

    margin-top: 10%;
  }
}

// MESSAGE BOARD

#disposition-one-right-bottom {
  justify-self: stretch;
  grid-column: 2;
  grid-row: 3 / 4;
}

#message-board {
  width: 90%;
  height: 93%;
  margin: 3% 5%;
  text-align:center;
}

#feed-message-board {
  width: 100%;
  height: 70%;
  background-color: $coral-light;
}

#create-message-board {
  width: 100%;
  height: 30%;
  background-color: $blue-light;
  color:white;
  font-weight: bold;
}
