/*------------------------------------*\
  # DISPOSITION FLOW
\*------------------------------------*/


#step-ongoing-flat {
  display:grid;
  grid-gap: 20px 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 80% 5%;
  align-content:center;
  grid-template-areas:
        "one"
        "two"
        "three"
}


/*------------------------------------*\
  # DISPOSITION STEP BY STEP
\*------------------------------------*/


#footer-stage-flow {
  display:flex;
  justify-content:space-around;
  align-items:end;
  grid-area:three;
}
