.fas.fa-check {
  margin:0px !important;
  color: $green;
  font-size:20px;
  // $green;
}
.fa-times:before {
    content: "\f00d";
    margin-right: 5px;
}

.fa-times{
  margin:0px  !important;
  color:$red;
  font-size:20px;
  margin-right: 6px;
}

.fas.fa-couch {
  font-size: 17px;
}

.fas.fa-parking {
  font-size: 20px;
}

// USED IN SCHEDULE INDEX

.fa-phone-alt {
  font-size: 16px;
  margin-right: 6px;
}

.fa-envelope {
  margin-right: 6px;
  //
}

// USER IN FLAT INDEX

.fa-flat {
  color: $coral-light;
  font-size: 70px;
  &:hover {
  color: #EE8572;
 }
}

.fa-plus-circle{
  margin-bottom: 22px;
}
