
/*------------------------------------*\
  #ICON PROPERTIES FOR DASHBOARD NAV
\*------------------------------------*/

.fa-home, .fa-calendar-alt, .fa-file-alt, .fa-user, .fa-columns, .fa-calculator, .fa-search-location, .fa-folder-open, .fa-tags {
  margin-top:20px;
}

.icon-dashboard {
  font-size: 1.7em;
  width: 50px;
  height: 50px;
  color: $white;
}



/*------------------------------------*\
  #ICON PROPERTIES FOR DASHBOARD VIEW
\*------------------------------------*/

.fas.fa-check {
  margin:0px !important;
  color: $green;
  font-size:1.3em;
}

.fa-times:before {
    content: "\f00d";
    margin-right: 5px;
}

.fa-times{
  margin:0px  !important;
  color:$red;
  font-size:20px;
  margin-right: 6px;
}

.fas.fa-couch {
  font-size: 17px;
}

.fas.fa-parking {
  font-size: 20px;
}


/*------------------------------------*\
  #USED IN SCHEDULE INDEX
\*------------------------------------*/

.fa-phone-alt {
  font-size: 16px;
  margin-right: 6px;
}

.fa-envelope {
  margin-right: 6px;
  //
}


/*------------------------------------*\
  #USED IN ONGOING SHOW
\*------------------------------------*/
.question-icon {
  color: $blue;
  font-size: 20px;
  position:absolute;
  top:8%;
  right:3%;
}



