/*------------------------------------*\
  #FORM DISPOSITION
\*------------------------------------*/
.navbar-devise {
  position:absolute;
  left:30px;
  top: 30px;
  font-size: 40px;
}

.login-container{
display: flex;
margin-top: 60px;
justify-content: space-between;
align-items: flex-end;
}

      .form-actions {
        margin-bottom:1.5rem;
        .facebook-omniauth {
          width:100%;
          padding: 0.5rem;
          background-color: #4267B2;
          border-radius: 5px;
          text-align:center;
          a {
            color:white;
          }
        }
      }


.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 100px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  min-width: 350px;
  z-index: 1;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: $coral;
  }
}


.banner-sign {
  height: 92vh;
  border-radius: none;
}

.image-login{
  max-width: 700px;
  object-fit: cover;
}

@media only screen and (max-width: 992px) {
  .image-login {
    display:none;
  }
}

