// NAVBAR HOME

.navbar-home {
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  > a > h1 {
    color: white;
    position:absolute;
    top:0;
    left:0;
    margin-top: 21.5px;
    margin-left: 21.5px;
  }
}


// NAVBAR DASHBOARD

.navbar-dashboard {
  position: sticky;
  z-index: 1000;
  right:0px;
  margin: 30px auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  & h2 {
    margin:0px;
    font-size: 32px;
  }
}


.drodropdown-menu-dashboard .dropdown-item{
  padding: 0px !important;
  //
}

.element-right {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  display: flex;
  width: 100%;
  text-align: right;
  & img.avatar-bordered {
    width: 50px;
    height: 50px;
  }
  & p {
    padding: 0px 20px;
  }
  a {
    color:$blue;
    position:relative;
    &:hover {
      color: $blue-light;
    }
    & span {
      width:30px;
      height:30px;
      position:absolute;
      top: -30px;
      right: 37px;
      padding-top: 3px;
      padding-right: 11px;
      font-weight: bold;
      background-color: $coral;
      border-radius: 50%;
    }
  }
}

.drodropdown-menu-dashboard {
  border: none;
  background-color: white;
  top: 25px !important;
  left: -170px !important;
  box-shadow:  2px 2px 2px 2px #ededed !important;
}

#bell-notification {
  margin:0px;
  margin-right: 60px;
}

.drop-profil {
  top: 48px !important;
  left: 50px !important;
}

#notif-container {
  visibility: hidden;
  &.active {

    visibility: visible;
  }
}

//Navbar Bottom
.bottom-navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  background: white;
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: $blue;
  height:60px
}

.dashboard-smartphone {
  width:100%;
  text-align: center;
}

.bottom-navbar .navbar-collapse-bottom {
  flex-grow: 0;
}

.bottom-navbar .navbar-brand-bottom img {
  width: 40px;
}
.icon-bottom-navbar {
  font-size: 25px;
  color: #fff;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .dashboard-wrapper {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .dashboard-wrapper {
  display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .dashboard-wrapper {
  display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .dashboard-wrapper {
  display: block;
  }
  .bottom-navbar {
    display:none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .dashboard-wrapper {
  display: block;
  }
  .bottom-navbar {
    display:none;
  }
}

