// NAVBAR HOME

.navbar-home {
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  > a > h1 {
    color: white;
    position:absolute;
    top:0;
    left:0;
    margin-top: 21.5px;
    margin-left: 21.5px;
  }
}

// NAVBAR DASHBOARD

.navbar-dashboard {
  position:absolute !important;
  right:0px;
  width:20%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  position:relative;
}

#notif-container {
  visibility: hidden;
  &.active {
    visibility: visible;
  }
}

#bell-notification {
  position:relative;
}

#bell-counter {
  position: absolute;
  top: -17px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE8572;
  padding: 5px 10px;
  border-radius: 60%;
  font-size: 15px;
  font-weight: bold;
}

.drodropdown-menu-dashboard .dropdown-item{
  padding: 0px !important;
  //
}

.drodropdown-menu-dashboard {
  border: none;
  background-color: white;
  top: 25px !important;
  left: -170px !important;
  box-shadow:  2px 2px 2px 2px #ededed !important;
}

.drop-profil {
  top: 48px !important;
  left: 50px !important;
}


//Navbar Bottom
.bottom-navbar {
  display:none !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  background: white;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #201E50;
  height: 120px;
}

.dashboard-smartphone {
  width:100%;
  text-align: center;
}

.bottom-navbar .navbar-collapse-bottom {
  flex-grow: 0;
}

.bottom-navbar .navbar-brand-bottom img {
  width: 40px;
}
.icon-bottom-navbar {
  font-size: 48px;
  color: #fff;
  margin-top: 0px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .dashboard-wrapper {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .dashboard-wrapper {
  display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .dashboard-wrapper {
  display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .dashboard-wrapper {
  display: block;
  }
  .bottom-navbar {
    display:none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .dashboard-wrapper {
  display: block;
  }
  .bottom-navbar {
    display:none;
  }
}

