.notification {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  // :hover{
  //   background-color: $coral-light;
  // }
}

.notif-item:hover{
  background-color: $coral-light;
}

.notif-link{
 display: flex!important;
}

.notif-avatar {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  // color: white;
  font-weight: bold;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: white!important;
  color: $blue;
}

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
