

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 // .btn-accept {
 //      background: $green;
 //      opacity: 0.8;
 //      padding: 5px 5px;
 //      margin-left: 3px;
 //  }
 //  .btn-refuse {
 //      background: $red;
 //      padding: 5px 12px;
 //      opacity: 0.8;
 //      margin-left: 14px;
 //  }

  .table-striped{
  display: none;
  }
  .calendar-title{
    display: none;
  }

  .simple{
    display: flex;
    position: relative;
  }
  .semaine{
  margin: 0px 15px;
  }
  .right-max {
  position: absolute;
  top: 4px;
  left: 250px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

// .btn-accept {
//     background: $green;
//     opacity: 0.8;
//     padding: 5px 5px;
//     margin-left: 3px;
//   }
//   .btn-refuse {
//       background: $red;
//       padding: 5px 12px;
//       opacity: 0.8;
//       margin-left: 14px;
//   }
}








