<h3>Hello <%= @tenant.first_name.nil? ? "" : @tenant.first_name.capitalize %> !</h3>
<p>Malheureusement l'appartement de <%= @renter.first_name.capitalize %> vient d'être loué.</p>
<p>Il ne vas pas donné suite à ton dossier.</p>
<br>
<p>On espère que tu trouveras le bien de tes rêves la prochaine fois !</p>
