<h3>Hello <%= @renter.first_name.nil? ? "" : @renter.first_name.capitalize%> !</h3>
<p>Quelqu'un a déposé un dossier pour ton appartement.</p>
<p>Viens vite donner une réponse sur <a href="https://www.koobo.co/flats/<%=@flat.id%>">Koobo</a></p>
