<div id="step-ongoing-flat">
  <div id="header-stage-flow">
    <h5>Le bail a été créé. Félicitations !</h5>
  </div>
  <div id="body-stage-flow">
    <ul class="StepProgress">
      <li class="StepProgress-item is-done"><strong>Tu as fournis toutes les informations</strong>
        Super ! Maintenant tu n'as plus à avoir peur
      </li>
      <li class="StepProgress-item is-done"><strong>Ton locataire a fournis tous ses documents</strong>
        Parfait ! Plus qu'à fixer un rendez-vous pour la remise des clés
      </li>
      <li class="StepProgress-item current"><strong>Rendez-vous pour la remise des clés</strong>
        Alors ? Vous vous êtes accordés sur une date ?
      </li>
      <li class="StepProgress-item"><strong>Il nous faut des autographes...</strong>
        Vérifie tes mails, tu as du recevoir une demande de signature électronique
      </li>
      <li class="StepProgress-item"><strong>You rock</strong>
      </li>
    </ul>
  </div>
  <div id="footer-stage-flow">
    <p class="delete-link">Annuler la location</p>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
    <!-- Faire en sorte que le bouton change en fonction des étapes-->
    <p class="koobo-button">Remise des clés</p>
  </div>
</div>
