<div id="step-ongoing-flat">
  <div id="header-stage-flow">
    <h5>Le bail a été créé. Félicitations !</h5>
    <p> C'est parti, que l'aventure Koobo commence</p>
  </div>
  <div id="body-stage-flow">
    <ul class="StepProgress">
      <li class="StepProgress-item is-done"><strong>Post a contest</strong></li>
      <li class="StepProgress-item is-done"><strong>Award an entry</strong>
        Got more entries that you love? Buy more entries anytime! Just hover on your favorite entry and click the Buy button
      </li>
      <li class="StepProgress-item current"><strong>Post a contest</strong></li>
      <li class="StepProgress-item"><strong>Handover</strong></li>
      <li class="StepProgress-item"><strong>Provide feedback</strong></li>
    </ul>
    <ul class="list-unstyled multi-steps">
      <li></li>
      <li></li>
      <li class="is-active"></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div id="footer-stage-flow">
    <p class="delete-link">Annuler la location</p>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
    <!-- Faire en sorte que le bouton change en fonction des étapes-->
    <p class="koobo-button">Remise des clés</p>
  </div>
</div>
