<div id="disposition-card-two">
  <div id="disposition-two-left-top">
      <%= render partial: 'shared/show_flat/card_flat_details', locals: { flat: @flat } %>
  </div>
  <div id="disposition-two-left-bottom">
    <%= render partial: 'shared/calendar' %>
  </div>
  <div id="disposition-two-right">
    <h4>Mes demandes</h4>
    <% current_user.schedules.each do |schedule| %>
      <% accepted_visit = schedule.visits.select {|visit| visit.status == "accepted"} %>
      <% pending_visit = schedule.visits.select {|visit| visit.status == "pending"} %>
      <% if accepted_visit != [] %>
        <%= render partial: 'shared/card_accepted', locals: { accepted_visit: accepted_visit, schedule: schedule} %>
      <% elsif pending_visit != []%>
        <% pending_visit.each do |visit| %>
          <%= render partial: 'shared/card_pending', locals: { visit: visit, schedule: schedule} %>
        <% end %>
      <% else %>
      <p class ="my-3">Vous n'avez pas encore de demande</p>
      <% end %>
    <% end %>
  </div>
</div>
