<div id="disposition-card-two">
  <div id="disposition-three-left-top">

  </div>
  <div id="disposition-three-left-bottom">
    <% helper_flat_current_tenants(@flat).each do |tenant| %>
      <%= image_tag tenant.photo, class: "avatar-extra-large" %>
    <% end %>
  </div>
  <div id="disposition-three-right">
    <%= render partial: 'shared/show_flat/flow_ongoing' %>
  </div>
</div>






