<div id="disposition-card-two">
  <div id="disposition-three-left-top">

  </div>
  <div id="disposition-three-left-bottom">

  </div>
  <div id="disposition-three-right">
    <!-- <h4>Mes étapes</h4> -->
    <%= render partial: 'shared/show_flat/flow_ongoing' %>
  </div>
</div>






